# Odoo
ODOO_TAG=17
ODOO_HOSTNAME=example.odoo.local
ODOO_PORT=8069



HOST=postgres
USER=odoo
PASSWORD=your_password_here


# Nginx
NGINX_TAG=1.27.4
NGINX_HOSTNAME=nginx.local

# Postgres
POSTGRES_TAG=17
POSTGRES_DB=odoo
POSTGRES_USER=$USER
POSTGRES_PASSWORD=$PASSWORD


# PGADMIN
PGADMIN_HOSTNAME=pgadmin.local
PGADMIN_TAG=9.6.0
PGADMIN_DEFAULT_EMAIL=pgadmin@example.com
PGADMIN_DEFAULT_PASSWORD=secure_password
PGADMIN_PORT=80